mixin blogCards(item)
   
      div(class="overflow-hidden md:h-auto h-full owlItem grid lg:grid-cols-auto-1fr lg:grid-rows-0 grid-rows-auto-1fr  items-center lg:gap-6 gap-0 rounded-10px lg:p-4 p-0 bg-white-c1 md:w-full w-285px ")
        div(class="overflow-hidden lg:w-230px w-full h-280px lg:rounded-md rounded-none")
          img(src=item.Dimg, alt="", class="w-full h-full object-cover")
        div(class="grid grid-rows-auto-1fr-auto h-full lg:py-4 lg:p-0 p-4 ")
          
          p(class="font-bold text-2xl leading-133% text-black-c2 lg:mb-6 mb-4 cursor-pointer hover:underline")=item.Dtitle
          p(class="font-normal text-14px leading-143% text-black-c2  overflow-hidden text-Covrflow lg:mb-0 mb-4")=item.Dtext
          div(class="flex justify-between w-full")
            p(class="font-bold text-14px leading-143% text-yellow-1")=item.Ddate
            a(class="font-bold text-14px leading-143% text-black-c1 cursor-pointer") читать статью




