header(class="flex justify-between items-center pt-4")
    a(class="flex gap-5 items-center md:w-auto w-20")
        img(src="./src/images/Group 19 2.svg")

    div(class="2xl:hidden block cursor-pointer")
        img(src="./src/images/openMenuBtn.svg", alt="", class="openMenuBtn")
    div(class = "hidden 2xl:flex gap-12 items-center")
        div(class="flex items-center gap-6")
            a(class="text-lg text-white-c1 font-semibold cursor-pointer") Главная
            a(class="text-lg text-white-c1 font-semibold cursor-pointer") Про гида
            a(class="text-lg text-white-c1 font-semibold cursor-pointer") Программа тура
            a(class="text-lg text-white-c1 font-semibold cursor-pointer") Стоимость
            a(class="text-lg text-white-c1 font-semibold cursor-pointer") Блог
            a(class="text-lg text-white-c1 font-semibold cursor-pointer") Контакты
        a(class="pl-6 pr-6 pt-3 pb-3 text-base text-white-c1 bg-black-c1 font-semibold cursor-pointer border border-black-c1 rounded hover:bg-white-c1 hover:text-black-c1 duration-500") Консультация
        


        