div(class="bottom-full left-0 duration-500 fixed  w-full h-full p-4 z-50 bg-black-c1 overflow-hidden popUpMain popUpVideo")

    div(class="container mx-auto h-full flex flex-wrap flex-col justify-center")
        div(class="mb-10px flex justify-end w-full")
            img(src="./src/images/closeCross.svg", alt="", class="closePopUp cursor-pointer")
        div(class="flex w-full")  
            <iframe class="w-full h-410px" src="https://rutube.ru/play/embed/e4d4be2b7a339b8b4a2c12f4ecc800a2/" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        